@model CMSPlus.Domain.Models.CommentModels.CommentCreateModel

@{
    Layout = "_Layout";
}

<partial name="_RichTextEditorPartial" />

<form method="post">
    <p>@Html.ValidationSummary()</p>

    <div class="form-group">
        <label asp-for="FullName" class="m-1"></label>
        <input asp-for="FullName" class="form-control"></input>
        <label asp-for="Body" class="m-1"></label>
        <textarea asp-for="Body" id="div_editor1" class="form-control"></textarea>

        <script>
            var editor1 = new RichTextEditor(document.getElementById("div_editor1"));
            editor1.attachEvent("change", function () {
                document.getElementById("inp_htmlcode").value = editor1.getHTMLCode();
            });
        </script>

    </div>

    <div class="row-12 m-3 text-center">
        <button type="submit" class="btn btn-primary" style="width: 10%">Submit</button>
    </div>

    <div class="row-12 m-3 text-center">
        <a asp-controller="Topic" asp-action="Details" asp-route-systemname="@Model.TopicSystemName" class="btn btn-secondary" style="width: 10%">Back to Topic</a>
    </div>

</form>
